.navBar {
    background-image: url(../Assets/SVG/MergedBar-61.svg);
    height: 10vh;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.jaune {
    background-color: #F4CF1B;
    height: 25vh;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
}

.rightSide>img {
    width: 100%;
}

button{
    background-image: url(Assets/SVG/MergedBar-61.svg);
    background-repeat: no-repeat;
}

button:hover {
    color: white !important;
    background-color: rgba(0, 0, 255, 0.678);
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* color: #00aaff; */
}
#cir-blue{
    background-color: #00aaff;

}
section {
    background-color: rgb(235, 235, 235);
    height: 55vh;
    margin: 0 250px ;
    padding: 50px;
    border: 2px solid rgb(197, 180, 180);
}

#app{
    background-color: white;
    height: 55vh;
    margin: 0 250px ;
    padding: 50px;
    border: 2px solid rgb(197, 180, 180);
}

header>div>ul>li>.flag {
    width: 80px;
}

header>div>ul>li>a>img {
    width: 80%;
}

.flag {
    border-radius: 100px;
}

@media screen and (max-width: 768px) {
    .jaune {
        background-color: #F4CF1B;
        height: 35vh;
    }
    .demarrerTest {
        display: flex;
        flex-direction: column-reverse;
    }
    .rightSide {
        width: 100%;
    }
    .leftSide {
        width: 100%;
    }
    header>.menu>ul {
        margin-right: 0 !important;
    }
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 20px;
	width: 58vw;
}

.progress-done {
	background: linear-gradient(to left, #1078AD, #00aaff);
	box-shadow: 0 3px 3px -5px #00aaff, 0 2px 5px #1078AD;
	border-radius: 20px;
	color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}